<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="Y4V6RejZkagWEzu-gN897gqsRBhOoQC7Vdoujls8lJw" />
    <title>Tarrot</title>
    <link rel="icon" type="image/png" href="{% static 'media/cards/favicon.ico' %}" />
    <link href="{% static 'cards/my_cards.css' %}" rel="stylesheet" />
    <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    -->
  </head>
  <body>
    
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    -->
    <script src="{% static 'cards/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'cards/jquery-ui.min.js' %}"></script>
    <script src="{% static 'cards/my_cards.js' %}" ></script>
    <script src="{% static 'cards/my_cards_jquery.js' %}" ></script>
    
  </body>
</html>